<div class="jumbotron">
  <h1 class="display-3">Netflix and Chill</h1>
  <p class="lead">We all watch movies! We all chill!  Why not Netflix and Chill with the people who share your interest.  Start browsing today.  Or if you don't have an account, signing up is easy.</p>
  <% if (!user) { %>
    <hr class="m-y-2">
    <div class="text-center">
        <a href="/login" class="btn btn-primary btn-lg active">Login</a>
        <a href="/signup" class="btn btn-default btn-lg active">Sign Up</a>
    </div>
  <% } %>
</div>

<div id="user-display" class="text-center">
  <h3>New Movie Lovers</h3>
  <hr>
</div>

<script type="text/javascript">
  $.get({
    url: '/users'
  })
  .done(function(users){
    users.forEach(function(u) {
      var profilePic = '<img class="responsive" src="' + u.local.avatar + '"/>'
      var newUser = '<a href="/users/' + u._id + '"><h4>' + u.local.name + '</h4></a>'
      var profile = '<div class="col-md-3">' + profilePic + newUser + '</div>'
      $("#user-display").append(profile)
    })
  })


</script>
