<!DOCTYPE html>
<html>
<head>
	<title>Passport Authentication Practice</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<<<<<<< HEAD

=======
	<script src="/assets/js/md5.js"></script>

	</script>
>>>>>>> bb2cf1f4342452543087ceb0a4d0e03007cb04ec
</head>
<body>
<% include ../partials/navbar %>
	<div class="container">

		<%- body %>
	</div>
</body>
</html>
