<!DOCTYPE html>
<html>
<head>
	<title>LoveScene</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/assets/js/md5.js"></script>
	<link rel="stylesheet" href="/assets/css/styles.css" media="screen" title="no title" charset="utf-8">
	<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
	</script>
</head>
<body>
<% include ../partials/navbar %>
	<div class="container">

		<%- body %>
	</div>
</body>
</html>
