<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" id="search-field" class="form-control" placeholder="Search movies..." value="">
      <button id="search-button" class="btn btn-default btn-sl active search-button" type="button">Go!</button>
    </div>
  </div>
</div>
<table class="table table-hover">
  <th>Title</th>
  <th>Year</th>
  <th>Type</th>
  <th>imdbID</th>
  <th>Add Movie</th>
  <th>Poster</th>
</table>
<table class="table">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody id="movie-results">
  </tbody>
</table>

<script type="text/javascript">
var $title = $('#mtitle')
var $year = $('#myear')
var $imdbid = $('#mimdbid')
var $type = $('#mtype')
var $img = $('#mimg')
var $movieResults = $('#movie-results')
var $inputBox = $('#search-field')
var userMovies = <%- user.local %>.movie

function like(movie){
  // add class indicating that you have already liked this movie
  $('#' + movie).prop('disabled', true)
  $('#' + movie).html('Liked!')
}


function addMovie() {
  var $button = $(this)
  var id = $button.attr('id')
  var user = "<%= user._id %>"
  $.ajax({
    url: 'http://www.omdbapi.com/?i=' + id,
    type: 'GET'
  })
  .done(function(omdbData) {
    console.log(omdbData)
    $.ajax({
      url: '/users/' + user + '/movies',
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      data: JSON.stringify(omdbData)
    })
    .done(function(data){
    })
  })
  $button.prop('disabled', true)
  $button.html('Liked!')
}


$('#search-button').on('click', function() {
  $.ajax({
    url: 'http://www.omdbapi.com/?s=' + $inputBox.val(),
    method: 'GET'
  })
  .done(function(data){
    $movieResults.html("")
    // refactor up this data eventually
    data.Search.forEach(function(movie) {
      $movieResults.append('<tr><td>' + '<a href="/info/' + movie.imdbID + '">' + movie.Title + '</a>' + '</td><td>' + movie.Year + '</td><td>' + movie.Type + '</td><td>' + movie.imdbID + '</td><td>' + '<button id="' + movie.imdbID + '" type="submit" class="btn btn-info btn-sl add-button">Add</button>'+
      '</td><td><a href="http://www.omdbapi.com/?t=' + movie.Title + '"><img class="thumbnail" src="' + movie.Poster + '"/></a></td></tr>')
      userMovies.forEach(function(m) {
        if (m.imdbID == movie.imdbID) {
          like(m.imdbID)
        }
      })
    })
    $('.add-button').click(addMovie)
  })
})
</script>
