
<%# <div class="row">%>
  <%# <div class="col-lg-6">%>
    <div class="input-group">
      <input type="text" id="search-field" class="form-control" placeholder="Search movies..." value="">
      <button class="btn btn-default btn-sl active search-button" type="button">Go!</button>



        <div class="row" id="results"></div>

      <script type="text/javascript">
      window.onload = function () {
        var $inputBox = $('#search-field')
        $('button').on('click', function() {
          $.ajax({
                url: 'http://www.omdbapi.com/?s=' + $inputBox.val(),
                method: 'GET'
          })
          .done(function(data) {
            $('#results').html("")
            data.Search.forEach(function(movie, i) {

                   movieHTML = '<div class="col-md-4 thumbnail">'
                     movieHTML += '<a href="/info/' + movie.imdbID + '"><img src="' + movie.Poster +'"/></a>'
                     movieHTML += '<div class="caption">'
                       movieHTML += '<h4>' + movie.Title + ' ' + '</h4>'
                         movieHTML += '<h5>' + movie.Year + '</h5>'
                          movieHTML += '<a href="/info/' + movie.imdbID + '" class="btn btn-primary btn-lg">More Info</a>'


                     movieHTML += '</div>'
                   movieHTML += '</div>'


                  $('#results').append(movieHTML)

            })
          })
        })
      }
</script>
