<div class="input-group">
  <input type="text" id="search-field" class="form-control" placeholder="Search movies..." value="">
  <button id="search-button" class="btn btn-default btn-sl active search-button" type="button">Go!</button>
  <div class="row" id="results"></div>
</div>

<script type="text/javascript">
var $inputBox = $('#search-field')
var userMovies = <%- user.local %>.movie

function like(movie){
  // add class indicating that you have already liked this movie
  $('#' + movie).prop('disabled', true)
  $('#' + movie).html('Liked!')
}

function addMovie() {
  var $button = $(this)
  var id = $button.attr('id')
  var user = "<%= user._id %>"
  $.ajax({
    url: 'http://www.omdbapi.com/?i=' + id,
    type: 'GET'
  })
  .done(function(omdbData) {
    console.log(omdbData)
    $.ajax({
      url: '/users/' + user + '/movies',
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      data: JSON.stringify(omdbData)
    })
    .done(function(data){
    })
  })
  $button.prop('disabled', true)
  $button.html('Liked!')
}

$('#search-button').on('click', function() {
  $.ajax({
    url: 'http://www.omdbapi.com/?s=' + $inputBox.val(),
    method: 'GET'
  })
  .done(function(data){
    $('#results').html("")
    data.Search.forEach(function(movie, i) {
      var movieHTML = '<div class="col-md-4 thumbnail">'
      movieHTML += '<a href="/info/' + movie.imdbID + '"><img src="' + movie.Poster +'"/></a>'
      movieHTML += '<div class="caption">'
      movieHTML += '<h4>' + movie.Title + ' ' + '</h4>'
      movieHTML += '<h5>' + movie.Year + '</h5>'
      movieHTML += '<div class="btn-group"><a href="/info/' + movie.imdbID + '" class="btn btn-primary btn-lg">More Info</a>'
      movieHTML += '<button id="' + movie.imdbID + '" class="btn btn-secondary btn-lg add-button text-right">Like!</button></div>'
      movieHTML += '</div>'
      movieHTML += '</div>'
      $('#results').append(movieHTML)
      userMovies.forEach(function(m) {
        if (m.imdbID == movie.imdbID) {
          like(m.imdbID)
        }
      })
    })
    $('.add-button').click(addMovie)
  })
})
</script>
