
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" id="search-input" class="form-control" placeholder="Search movies..." value="">
      <button class="btn btn-default btn-sl active search-button" type="button">Go!</button>


      <script type="text/javascript">
      window.onload = function(){
      //   data.Search
        // var content = '<td><input class="content" type="text" value= "' + data.Search.title + '"</td>'
        // var completedButton = '<td><button class="completed pure-button">' + source.completed + '</button></td>'
        // var deleteButton = '<td><button class= "delete pure-button">Delete?</button></td>'
        // var $row = $('<tr id="' + source._id + '"></tr>')
        // $row.append(content + completedButton + deleteButton)
        // body.append($row);
        var $title = $('#mtitle')
        var $year = $('#myear')
        var $imdbid = $('#mimdbid')
        var $type = $('#mtype')
        // var $poster = $('#mposter')
        var $img = $('#mimg')

        var $movieResults = $('#movie-results')

        var $inputBox = $('#search-input')
      $('button').on('click', function() {
        $.ajax({
                  url: 'http://www.omdbapi.com/?s=' + $inputBox.val(),
                  method: 'GET'
                })
                // .done(function(){
                //   newRow()
                //  })
                .done(function(data){
                  // title.append(data.Search[0].Title)
                  // $title.text(data.Search[0].Title)
                  // $year.text(data.Search[0].Year)
                  // $imdbid.text(data.Search[0].imdbID)
                  // $type.text(data.Search[0].Type)
                  // $img.attr("src", data.Search[0].Poster)
                  // $poster.text(data.Search[0].Poster)
                  data.Search.forEach(function (movie) {
                    $movieResults.append('<tr><td>' + '<a href="http://www.omdbapi.com/?t=' + movie.Title + '">' + movie.Title + '</a>' + '</td><td>' + movie.Year + '</td><td>' + movie.Type + '</td><td>' + movie.imdbID +
                    '</td><td>' + '<button type="submit" class="btn btn-info btn-sl">Add</button>' + '</td><td><a href="http://www.omdbapi.com/?t=' + movie.Title + '"><img class="thumbnail" src="' + movie.Poster + '"/></a></td></tr>')
                   })
                 })
      })
    }


      </script>
    </div>
  </div>
  </div>
  <table class="table table-hover">
    <th>Title</th>
    <th>Year</th>
    <th>Type</th>
    <th>imdbID</th>
    <th>Add Movie</th>
    <th>Poster</th>

  </table>


  <table class="table">
        <thead>
            <tr>

</tr>


</thead>
        <tbody id="movie-results">
          <!-- <tr>
          <td><h5 id="mtitle"></h5> </td>
          <td><h5 id="myear"></h5></td>
          <td><h5 id="mimdbid"></h5></td>
          <td><h5 id="mtype"></h5></td>

          <%# <h1 id="mposter"></h1>%>

          <td><img id="mimg" src="" alt="" /></td>
          </tr>-->



        </tbody>
      </table>
