<div class="input-group">
  <input type="text" id="search-field" class="form-control" placeholder="Search movies..." value="">
  <button id="search-button" class="btn btn-default btn-sl active search-button" type="button">Go!</button>
  <div id="results" class="text-center"></div>
</div>

<script type="text/javascript">
var $inputBox = $('#search-field')
var userMovies = <%- user.local %>.movie
console.log(userMovies);

function like(movie){
  // add class indicating that you have already liked this movie
  $('#' + movie).prop('disabled', true)
  $('#' + movie).html('Liked!')
}

function addMovie() {
  var $button = $(this)
  var id = $button.attr('id')
  var user = "<%= user._id %>"
  $.ajax({
    url: 'http://www.omdbapi.com/?i=' + id,
    type: 'GET'
  })
  .done(function(omdbData) {
    console.log(omdbData)
    $.ajax({
      url: '/users/' + user + '/movies',
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      data: JSON.stringify(omdbData)
    })
    .done(function(data){
    })
  })
  $button.prop('disabled', true)
  $button.html('Liked!')
}

//////////////
var $display = $('#results')
// function for displaying users in rows on the page
function makeRows (source) {
  $display.html('')
  // concatenate a long string to append to the user-display div
  // start with declaring variables that will be reused
  var rowStart = '<div class="row">'
  var rowEnd = '</div>'
  var movieDisplay = ''
  // loop through the users that were returned in the ajax call
  source.forEach(function(movie, i) {
    // start a new row at the beginning and at the beginning of the 5th iterations
    if (i%3==0){
      movieDisplay += rowStart
    }
    // for when we get avatars working correctly...
    var posterImg = '<a href="/info/' + movie.imdbID + '"><img src="' + movie.Poster +'"/></a>'
    var title = '<h4>' + movie.Title + '</h4>'
    var year = '<h5>' + movie.Year + '</h5>'
    var infoButton = '<a href="/info/' + movie.imdbID + '" class="btn btn-primary btn-lg">More Info</a>'
    var likeButton = '<button id="' + movie.imdbID + '" class="btn btn-secondary btn-lg add-button text-right">Like!</button>'
    var buttons = '<div class="btn-group">' + infoButton + likeButton + '</div>'
    var caption = '<div class="caption">' + title + year + buttons + '</div>'
    // avatar or other user data will be added into profile variable below when available
    // col-md-3 used to fit 4 users per row and be responsive
    var movieThumb = '<div class="col-md-4 thumbnail">' + posterImg + caption + '</div>'
    // add the assembled profile to the row
    movieDisplay += movieThumb
    // end the row if it is on the 4th iteration or the last iteration
    if ((i+1)%3==0 || i == source.length-1) {
      movieDisplay += rowEnd
    }
    userMovies.forEach(function(m) {
      if (m.imdbID == movie.imdbID) {
        console.log(m.imdbID);
        // add class indicating that you have already liked this movie
        $('#' + movie.imdbID).prop('disabled', true)
        $('#' + movie.imdbID).html('Liked!')
      }
    })
  })
  $display.append(movieDisplay)
}


//////////////

$('#search-button').on('click', function() {
  $.ajax({
    url: 'http://www.omdbapi.com/?s=' + $inputBox.val(),
    method: 'GET'
  })
  .done(function(data){
    $display.html("")
    makeRows(data.Search)
    $('.add-button').click(addMovie)
  })
})
</script>
